body {
    background-image: url(/assets/pink-sakura-petals.png);
}

h1 {
    font-family: nunito;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 2.3%;
    font-style: italic;
}

.container-sobremim {
    background-color: #fbe4eb;
    width: 659px;
    height: 530px;
    margin: 2% auto;
    padding-top: 2%;
}

.container-sobremim p {
    width: 92%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20.5px;
    text-align: justify;
    margin: 0 auto;
}

#music {
    text-decoration: none;
    color: black;
}

#music:hover {
    text-decoration: underline;
    color: #cd3a6b;
}

#music:active {
    color:#DB7093;
}

#linkcont {
    color: #cd3a6b
}

#linkcont:active {
    color: #DB7093;
}

#home {
    font-family: nunito;
    font-size: 30px;
    text-decoration: none;
    width: 100%;
    position: absolute;
    text-align: center;
}

#home:hover{
    text-decoration: underline;
}

#home:active{
    color: #DB7093;
}