body {
    background-color: rgb(252, 221, 227);
    font-family: "Rubik";
}

.circle {
    background-color: rgba(244, 165, 230, 0.34);
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 130px;
    margin-left: 18%;
    margin-top: 1.5%;
}

.container {
    background-color: blue;
    width: 970px;
    margin: 9% auto;
    position: relative;
}

@keyframes mover-cima-baixo {
    0% { transform: translateY(0); }
    50% { transform: translateY(-9px); }
    100% { transform: translateY(0); }
}

#icon {
    animation: mover-cima-baixo 3.5s infinite; 
    position: absolute;
}

h1 {
    margin-left: 40%;
    margin-top: 3%;
    font-size: 50px;
    position: absolute;
}

p {
    background-color: rgba(174, 174, 174, 0.064);
    line-height: 28px;
    margin-left: 45%;
    position: absolute;
    margin-top: 11.5%;
    font-size: 25px;
    padding: 15px;
    border-radius: 5px;
}

.links {
    position: absolute;
    margin-left: 49%;
    margin-top: 31%;
    width: 350px;
}

.links div {
    width: 100px;
    display: inline-block;
    padding-left: 4%;
}

.links img:hover {
    width: 96px;
}

a.tooltip:before {
    content: attr(data-title);
    background-color: #7d265c;
    color: #FFF;
    font-size: 20px;
    font-family: "Rubik";
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    bottom: -50px;
    width: 274px;
    opacity: 0;
    transition: all .3s ease;
  }
  a.tooltip:after {
    content: "";
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    left: 288px;
    bottom: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #7d265c transparent;
    transition: all .3s ease;
  }
  a.tooltip:hover:after,
  a.tooltip:hover:before {
    opacity: 1;
  }
